* {
    margin: 0;
    padding: 0;
}

body {

    background-color: hsl(212, 45%, 89%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

div {
    width: 300px;

    background-color: hsl(0, 0%, 100%);
    border-radius: 20px;
    padding: 16px;

}

img {
    width: 100%;
    border-radius: 10px;
}

#p1 {
    font-size: 20px;
    margin-top: 16px;
    margin-bottom: 12px;
    text-align: center;
}

#p2 {
    font-size: 15px;
    text-align: center;
    margin: 0;
    line-height: 1.4;
}